<input type="text" ng-model="search" />
<button class="btn btn-default" ng-click="getActivities()">Search</button>
<button class="btn btn-default" ng-click="search = null; getActivities()">Clear</button>
<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>
				<button ng-hide = "showUp" ng-click="showButtons()" class="btn btn-xs btn-danger">Delete</button>
				
				<span ng-show = "showUp" class="btn btn-sm btn-default">Are you sure?</span>
				<button  ng-show = "showUp" ng-click="deleteActivity(activity.id, $index)" class="btn btn-sm btn-default">Yes</button>
				<button ng-show = "showUp" ng-click="hideAll()" class="btn btn-sm btn-default">No</button>
				
				<a href="#/activities/edit/{{ activity.id }}" class="btn btn-xs btn-default">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="col-md-12 text-center">
    <span ng-hide="successMessage || errorMessage" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <span ng-show="errorMessage" class="label label-danger">{{ errorMessage }}</span>
</div>

<div class="col-md-12 text-right">
	<button class="btn btn-default" ng-click="changePage(page - 1)" ng-disabled="page == 0">Previous</button>
	<button class="btn btn-default" ng-click="changePage(page + 1)" ng-disabled="page == totalPages - 1">Next</button>
</div>